*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8FE3CF;
}

#result{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    color: black;
    width: 270px;
    height: 70px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 50px;
    line-height: 55px;
    text-align: right;
    font-family: 'Exo', sans-serif;
}

main{
    border: 6px #2B4865 solid;
    width: 18em;
    height: 27em;
    margin: auto;
    margin-top: 30vh;
    background-color:  #256D85;
    border-radius: 15px;
    padding: 1.5em;
}

table{
    margin: auto;
}

td > button{
    background-color: #002B5B ;
    width: 60px;
    height: 60px;
    font-size: 1.6em;
    color: white;
    cursor:pointer;
    margin: 2px;
    font-family: 'Exo', sans-serif;
}

button:hover{
    background-color: #000e1e;
    transform: scale(1.05);
}

button:active{
    background-color:white;
    transform: scale(0.95);
}